{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-0"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ],
        "stage-0"
      ]
    }
  }
}